<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled">Disabled</a>
                </div>
            </div>
        </div>
    </nav>
</div>



<div th:fragment="form-input">
    <div class="container">
        <br>
        <a th:href="@{/article}">back</a>

        <h1 style="margin: 20px 0">Write Article</h1>

        <form th:action="@{handle-add}" th:object="${article}" method="post" enctype="multipart/form-data">

            <div style="margin: 20px 0">
                <img src="http://localhost:8080/images/noImage.jpg" id="output" width="200px" height="200px"/>
            </div>

            <div class="form-group" style="margin: 20px 0">
                <!--            <img src="http://localhost:8080/image/noImage.jpg" height="300px" width="300px">-->
                <label for="exampleInputArticlce1"></label>
                <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputArticlce1" aria-describedby="nameHelp">
            </div>
            <div class="form-group" style="margin: 20px 0">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="name" name="title" class="form-control" id="exampleFormControlInput1" placeholder="The grestest article in the world" aria-describedby="nameHelp">
                <small id="nameHelp" th:errors="${article.title}" th:field="${article.title}" class="form-text text-danger"></small>
            </div>
            <div class="form-group" style="margin: 20px 0">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"
                          aria-describedby="nameDesc"></textarea>
                <small id="nameDesc" th:errors="${article.description}" th:field="${article.description}" class="form-text text-danger"></small>
            </div>

            <button type="submit" class="btn btn-primary" style="margin: 20px 0">Submit</button>
        </form>
    </div></div>
</body>
</html>