<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Article</title>
    <style>
        a{
            margin: 0 10px;
        }
    </style>
</head>
<body>

<!--nav bar-->
<div th:insert="fragment::navbar"></div>

<!--Table-->
<div class="container" style="margin-top: 50px;">
    <a th:href="@{/form-add}" type="button" class="btn btn-primary" th:text="#{btnAdd.text}"></a>
    <a href="http://localhost:8080/article?language=km">ខ្មែរ</a>
    <a href="http://localhost:8080/article?language=en">English</a>
    <a href="http://localhost:8080/article?language=ko">한국어</a>
    <table class="table" style="margin-top: 30px;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{title.text}"></th>
            <th scope="col" th:text="#{desc.text}"></th>
            <th scope="col" th:text="#{image.text}"></th>
            <th scope="col" th:text="#{action.text}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${articles}">
            <th th:text="${article.id}" scope="row">1</th>
            <td th:text="${article.title}">Mark</td>
            <td th:text="${article.description}" style="width: 50%;">Otto</td>
            <td>
                <div>
                    <img th:src="${article.image}"width="100px" height="100px"/>
                </div>
            </td>
            <td>
                <a th:href="@{/view/{id}(id=${article.id})}" type="button" class="btn btn-outline-success" th:text="#{view.text}">View</a>
                <a th:href="@{/delete/{id}(id=${article.id})}"  type="button" class="btn btn-outline-danger" th:text="#{delete.text}">Delete</a>
                <a th:href="@{/edit/{id}(id=${article.id})}" type="button" class="btn btn-outline-warning" th:text="#{update.text}">Update</a>
            </td>
        </tbody>
        </tr>
    </table>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>