﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Update Form</title>
</head>
<body>
  <div th:insert="fragment::navbar"></div>

  <div class="container">
      <h1><span th:text="${heading}"></span></h1>
      <br>
      <a th:href="@{/article}">back</a>
      <h1 style="margin: 20px 0">Write Article</h1>

      <form th:action="@{/handle-update/{id}(id=${id})}" method="post" th:object="${article}"  enctype="multipart/form-data">

          <img th:src="@{${article.image}}" id="output" width="200px" height="200px">
          <div class="form-group" style="margin: 20px 0">
              <label for="exampleInputArticlce1"></label>
              <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputArticlce1" aria-describedby="nameHelp">
          </div>
          <div class="form-group" style="margin: 20px 0">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="name" name="title" class="form-control" id="exampleFormControlInput1" placeholder="The grestest article in the world" aria-describedby="nameHelp">
              <small id="nameHelp" th:errors="${article.title}" class="form-text text-danger"></small>
          </div>
          <div class="form-group" style="margin: 20px 0">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"
                        aria-describedby="nameDesc"></textarea>
              <small id="nameDesc" th:errors="${article.description}" class="form-text text-danger"></small>
          </div>
          <button type="submit" class="btn btn-primary" style="margin: 20px 0">Submit</button>
      </form>
  </div>

  <script>
      var loadFile = function(event) {
          var image = document.getElementById('output');
          image.src = URL.createObjectURL(event.target.files[0]);
      };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>