<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<!--nav bar-->
<div th:insert="fragment::navbar"></div>

<div class="container">
    <div th:action="@{/handle-add}" method="post" class="card" style="width: 25rem; margin: 20px auto">
        <img th:src="${article.image}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 th:text="${article.title}" class="card-title">Card title</h5>
            <p th:text="${article.description}" class="card-text"></p>
            <a th:href="@{/article}" type="button" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>